:root{
  --my-blue: rgb(0, 102, 255);
  --my-purple: rgb(150, 44, 255);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: monospace;
  color: var(--my-blue);
}

body{
  width: 800px;
  margin: auto;
}

img{
  width: 100%;
}

section{
  margin-bottom: 3em;
  display: flex;
}

.left-column{
  flex: 0 0 80px;
  text-align: right;
  padding-right: 20px;
}

.right-column{
  flex: 1 1 100px;
}
.right-column h4{
  padding-bottom: .8em;
}

/* Header and nav bar styles */
header{
  display: flex;
  margin: 1em 0 3em 0;
  justify-content: space-between;
  flex-wrap: wrap;
}
header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
header nav ul li {
  margin: 1em 0 0 2em;
}
header a{
  text-decoration: none;
}
header a:hover{
  color: var(--my-purple);
}
#avatar img{
  width: 25px;
}
/* End of header styles */

/* 'Work' section styles */
#work h4{
  font-weight: normal;
}
.featured-work{
  padding-bottom: 3em;
}
.other-work{
  display:flex;
  flex-wrap: wrap;
  gap: 1.5em;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
}
.other-work div{
  padding-bottom: .5em;
  max-width:100%;
  flex-grow: 4;
}
.overlay {
  position: relative;
  display: inline-block;
  width: 100%;
}
.overlay > img {
  vertical-align: middle;
}
.overlay::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--my-purple);
  opacity: 0;
  transition: .5s ease;
}
.overlay:hover::before {
  opacity: 0.25;
}
/* End of work section styles */

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
  body{
      width: auto;
      margin: 0 5em 5em 5em;
 }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
  body{
      width: auto;
      margin: 0 1em 1em 1em;
 }
  header nav ul li {
      margin: 1em 1em 0 0;
 }
  .left-column{
      flex: unset;
      text-align: left;
      width: 100%;
 }
  .right-column{
      flex: unset;
 }
  section{
      flex-wrap: wrap;
 }
  section h3{
      padding-bottom: 1em;
 }
}
